<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clients</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Custom styling for sidebar */
        .sidebar {
            height: 100vh;
        }
        .sidebar .nav-link {
            color: #ffffff;
            text-decoration: none;
        }
        .sidebar .nav-link.active {
            background-color: #0d6efd; /* Highlight active link */
        //       color: #ffffff;
        }
        .sidebar .nav-link:hover {
            color: #adb5bd;
        }
    </style>

    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
<!-- Header -->
<header>
    <%- include('../partials/header') %>
</header>

<div class="container-fluid p-0">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-2">
            <%- include('../partials/sidebar') %>
        </div>
        <!-- Main Content Area -->
        <main class="col-md-10 p-4">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone number</th>
                    <th>Street address</th>
                    <th>City</th>
                </tr>
                </thead>
                <tbody>
                <% clients.forEach(client => { %>
                    <tr>
                        <td><%= client.name %></td>
                        <td><%= client.email || '-' %></td>
                        <td><%= client.phone_number || '-' %></td>
                        <td><%= client.address_street || '-' %></td>
                        <td><%= client.address_city || '-' %></td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        </main>
    </div>
</div>

<!-- Link to local Bootstrap JS Bundle -->
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>